global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-backend"
    metrics_path: /metrics
    scheme: https
    static_configs:
      - targets: ["hypechat-cuxr.onrender.com"]
